.hero-image{
    height: 80vh;
    background-image: linear-gradient(to right,rgba(82, 58, 58, 0.5),rgba(0,0,0,0.5)), url("./PortadaMain.jpg");
    background-size: cover;
    background-position: center;
    padding: 2em;
    display: flex;
    align-items: center;
    /* border-bottom-right-radius: 60%; */
    margin-bottom: 5em;
}

.hero-image h1{
    font-family: 'Fredoka One', cursive;
    color: rgba(157, 173, 179, 0.6);
    font-size: 3em;
    text-shadow: 8px 0px 10px rgb(0, 0, 0), 10px 5px 20px rgb(0, 0, 0);
}

@media screen and (min-width: 980px) {
    .hero-image{
        height: 90vh;
        margin-top: 90px;
        align-items: flex-end;
        background-size: cover;
        padding-bottom: 10%;
        /* border-bottom-right-radius: 60%; */
        margin-bottom: 10em;
    }
    .hero-image h1{
        font-size: 5.2em;
        margin: 0;
    }
}