.nav-link {
  text-shadow: 0px 0px 5px rgba(129, 129, 129, .3);
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
}

.links{
  color: #fff;
  padding: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  transition: .2s all ease-in;
}

.links:hover {
  color: rgba(255, 255, 255, 0.699);
  text-decoration: none;
  
}
/* #3B120C */
/* COLOR BOTONES #BB8664 */

.nav {
  background: #8692B7;
  box-sizing: border-box;
  // box-shadow: 0 4px 10px 0 rgba(158, 150, 150, 0.472), 0 6px 20px 0 rgba(49, 45, 45, 0.377);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navlink_span{
  position: absolute;
  top: 20px;
  color: #fff;
  background: #4F4D62;
  font-size: 16px;
  padding: 5px 12px;
  border-radius: 100%;
}


@media screen and (max-width: 991px){
  .navbar-collapse {
    border-radius: 6px;
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, .7);
  }
  .navlink_span{
    position: relative;
  }
}

@media (min-width: 992px) {
  .btn{
    margin-left: 2em;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .offcanvas-header {
    display: none;
  }
  .navbar-expand-lg .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }
  .navbar-expand-lg .offcanvas-top,
.navbar-expand-lg .offcanvas-bottom {
    height: auto;
    border-top: 0;
    border-bottom: 0;
  }
  .navbar-expand-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
} 

.collapse:not(.show) {
  display: none;
}

@media screen and (min-width: 1200px) {
  .ml-logo{
    margin-left: 150px;
  }
}
