.projects-section {
    padding: 8rem 0;
}
.projects-section .featured-text {
    padding: 2rem;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

.letra{
    font-size: 1.2em;
}
@media (min-width: 992px) {
    .projects-section .featured-text {
        /* padding: 0 0 0 0; */
        border-left: 0.5rem solid #64a19d;
    }
    .projects-section .project-text {
        padding: 5rem;
        font-size: 1em;
    }
    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: 0.25rem;
        width: 30%;
    }
}
