section{
    width: 95%;
    margin: 0 auto;
}
.card{
    box-sizing: border-box;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-xl {
    padding: .8rem 1.75rem;
    font-size: 1.25rem;
    background: #6AAE9F;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
}

.btn-xl:hover {
    background: #6aae9fc4;
}


@media screen and (min-width: 980px){
    section{
        width: 50%;
        margin: 0 auto;
    }
}