.principal{
    height: 95vh;
}
.mostrar{
    display: none;
}
.container-left, .container-height{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: inherit;
    /* height: 100%; */
    box-sizing: border-box;
}

.container-left img{
    width: 80em;
    height: 100%;
}
.carta{
    font-family: sans-serif;
    width: 60%;
    margin: 15% auto;
}
.carta h1{
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* @media screen and (min-width: 1200px){
    .mostrar{
        display: block;
    }
    .carta {
        width: 70%;
        margin: 10% auto;
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        min-height: 38em;
    }
    .d-flex{
        justify-content: space-between;
    }
    body {
        height: 100vh;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    .carta {
        width: 60%;
    }
} */

@media screen and (min-width: 1400px){
    .mostrar-ocultar{
        display: block;
    }
    .principal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carta{
        font-family: sans-serif;
        width: 80%;
        margin: 15% auto;
        margin-left: 80px;
    }
}