.principal{
    height: 90vh;
}
.mostrar-ocultar{
    display: none;
}
.container-left, .container-height{
    width: 100%;
    margin: 0px;
    height: inherit;
    /* height: 100%; */
    box-sizing: border-box;
}
.btn-container{
    width: 100%;
}
.container-left img{
    width: 80em;
    height: 100%;
}
.espacio{
    margin-left: 15px;
}
.btn-container{
    width: 100%;
}
.carta{
    font-family: sans-serif;
    width: 60%;
    margin: 15% auto;
}
.carta h1{
    text-align: center;
    margin: 20px;
}

/* @media screen and (min-width: 1500px){
    .carta{
        margin-top: 8%;
    }
} */
@media screen and (min-width: 1400px){
    .mostrar-ocultar{
        display: block;
    }
    .principal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            /* min-height: 38em; */
    }
    .carta{
        font-family: sans-serif;
        width: 80%;
        margin: 15% auto;
        margin-left: 50px;
    }
}
/* @media screen and (min-width: 900px) and (max-width: 1200px){
    .carta{
        margin-top: 8%;
    }
    .mostrar-ocultar{
        display: none;
    }
} */